[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
tox = "*"

[packages]
html5lib = "*"
lxml = "*"
six = "*"
cssselect = "*"
htmls = {editable = true, file = "."}

[requires]
python_version = "3.8"
