# These are the versions we are testing against
# The library should work with a lot more versions,
# if you have problems, try using these versions!
html5lib==0.999
lxml==3.4.2
six==1.9.0
cssselect==0.9.1
flake8==2.4.0
tox==1.9.2

# Include _this_ module (the one defined in setup.py)
-e .
